*.ipynb_checkpoints
*.DS_Store
*.pyc
*.swp
*__pycache__
*.egg-info
dist
build
tags
.jupyter

# test-related
.coverage
.coverage*
.cache
.pytest_cache
.mypy_cache
*.html
coverage.xml

# developer environments
.idea
.vscode
Pipfile

# agent storage
examples/agents
examples/training_logs

# virtual environment
venv
.venv

# documentation
/docs/build
/docs/source/api

# setuptools_scm
src/tensortrade/__about__.py

# catboost files
catboost_info/